/* Hidden Cat in the Page Title */
.page_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page_title .image_position {
    position: relative;
}

.hidden_kitten {
    display: none;
    width: 2.25em;
    height: 2.25em;
}

.page_title:hover .hidden_kitten {
    visibility: visible;
}

.image_position .hidden_kitten {
    position: absolute;
    visibility: hidden;
    z-index: 99;
    left: -40px;
    top: -20px;
}