.blogpost {
    border-top: 1px solid #efefed;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.blogpost_title {
    text-transform: capitalize;
}

.blogpost_footer {
    display: flex;
    justify-content: space-between;
}

.blogpost_date {
    color: #9a9a9a;
}

.blogpost_paragraph_images {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.blogpost_paragraph_image {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.blogpost_paragraph_image img {
    object-fit: cover;
}

.blogpost_paragraph_image label {
    font-size: 0.75em;
    color: #9a9a9a;
    text-align: center;
}

.image_small img {
    width: 100px;
    height: 100px;
}

.image_medium img {
    width: 200px;
    height: 200px;
}

.image_big img {
    width: 300px;
    height: 300px;
}

.blogpost_content_with_image {
    display: flex;
}

.blogpost_content_with_image .right_text {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1em;
}

.blogpost_content_with_image .left_text {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1em;
}

.blogpost_quote {
    background: #efefed;
    border-left: 5px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }

.blogpost_quote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}

.blogpost_quote p {
    display: inline;
    font-style: italic;
}

.blogpost_quote footer {
    text-align: right;
    margin-right: 20px;
    font-style: italic;
    font-weight: 600;
}

.share_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    width: 100px;   
}

.share_button img {
    object-fit: cover;
    width: 1.5em;
    height: 1.5em;
}

.blogpost_author {
    display: flex;
    flex-direction: row;
    background-color: #efefed;
    margin-top: 10px;
    padding: 10px;
}

.blogpost_author_photo {
    width: 80px;
    height: 80px;
    
}

.blogpost_author_photo img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
}

.blogpost_author_bio {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.blogpost_author_name {
    font-size: 1.5em;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 0;
}

.blogpost_author_position {
    font-size: 0.75em;
    color: #000;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 0;
}

.blogpost_author_desc {
    font-size: 0.75em;
    color: #9a9a9a;
}