/* Blogpost short styling */
#blogpost_list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

@media(min-width:800px) {
    #blogpost_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
    }
}

.blogpost_preview {
    border-top: 1px solid #efefed;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1 1 380px;
    justify-content: space-between;
}

.blogpost_preview:hover {
    box-shadow: 2px 2px 20px 0px #efefed, -2px 2px 20px 0px #efefed;
}

.blogpost_preview_title {
    text-transform: capitalize;
}

.blogpost_preview_footer {
    display: flex;
    justify-content: space-between;
}

.blogpost_preview_date {
    color: #9a9a9a;
}

.blogpost_preview_image {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}
.blogpost_preview_image img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
}

.blogpost_preview_image label {
    font-size: 0.75em;
    color: #9a9a9a;
    text-align: center;
}