.galery {
    display: grid;
    grid-template-columns: repeat(2, 180px);
    grid-auto-rows: minmax(100px, 180px);
    width: inherit;
    margin: 5px;
    gap:5px 5px;
    align-content: space-between;
    justify-content: space-between;
}

.croped {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

@media(min-width: 600px) and (max-width: 800px) {
    .galery {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-auto-rows: minmax(100px, 180px);
        width: inherit;
        margin: 5px;
        gap:10px 10px;
        align-content: space-between;
        justify-content: space-between;
    }

}

@media(min-width:801px) {
    .galery {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-auto-rows: minmax(100px, 180px);
        width: inherit;
        margin: 5px;
        gap:10px 10px;
        align-content: space-between;
        justify-content: space-between;
    }
}