/* importing another css files */
@import "./blogpost_preview.css";
@import "./galery.css";
@import "./blogpost_full.css";

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #ba3925;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

a {
    color: #2156a5;
}

.page_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.middle_panel {
    min-width: 400px;
    max-width: 800px;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "mn"
    "ct"
    "ft";
    row-gap: 10px;
    justify-content: center;
}

#menu {
    grid-area: mn;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
}

.menu_item {
    font-size: 20px;
    margin: 5px;
    text-transform: uppercase;
    padding: 5px;
}

.menu_item:hover {
    box-shadow: 2px 2px 20px 0px #efefed, -2px 2px 20px 0px #efefed;
}

#content {
    grid-area: ct;
    min-height: 600px;
}

#footer {
    grid-area: ft;
    font-size: 12px;
    color: #9a9a9a;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image_position .hidden_kitten { 
    position: absolute;
    visibility: hidden;    
    z-index:99; 
    left: -40px;
    top: -20px;
}

.page_title .image_position { 
    position: relative;
}

.page_title:hover .hidden_kitten { 
    visibility: visible;
}

/* For debugging purposes border might be added to all elements of a page */
/* * {
    border: 1px solid red !important;
} */